# don't track the changeable atom cache stuff
atom/blob-store/
atom/compile-cache/
atom/recovery/
atom/storage/
atom/config.cson
cache.db
keepassxc.ini
config/gtk-3.0/bookmarks
newsboat/queue
vim/.netrwhist
vim/plugged
.swp
nvim/plugged
.calcurse.pid
__pycache__
