"*":
  "atom-ide-ui":
    hyperclick:
      linuxTriggerKeys: "ctrlKey,metaKey"
  core:
    closeDeletedFileTabs: true
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 18
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "ed922150-4c1c-4af0-972f-dfbc47af7872"
  welcome:
    showOnStartup: false
